{% extends "blog/base.html" %}

{% block content %}
<main class="container mx-auto mt-6">
    <div class="flex justify-center space-x-4">
        <!-- Blog Posts Section (75%) -->
        <section class="w-3/4 bg-gray-100 rounded-lg shadow-md p-6 overflow-y-auto" style="max-height: 500px;">
            <h2 class="text-3xl font-semibold mb-4">Latest Blog Posts</h2>
            <!-- Replace the following with your blog post content -->
            {% for post in posts %}
                <div class="mb-6 bg-white rounded-lg p-4">
                    <h2 class="text-xl font-semibold mb-2"> <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="text-gray-600">By {{ post.author }} on {{ post.date_posted }}</p>
                    <!-- Render the CKEditor content using the |safe filter -->
                    <div class="text-gray-800">{{ post.content|safe }}</div>
                </div>
            {% endfor %}
        </section>

        <!-- Projects Section (25%) -->
        <section class="w-1/4 bg-blue-100 rounded-lg shadow-md p-6">
            <h2 class="text-3xl font-semibold mb-2">Checkout my other fun side-projects</h2>
            <!-- Replace the following with links to your projects -->
            <ul class="list-disc pl-4">
                <li><a href="https://varshney-yash.github.io/infiniteScroll/" class="text-blue-600 hover:underline" target=_blank>Infinite Scroll</a></li>
                <li><a href="https://varshney-yash.github.io/spacePix/" class="text-blue-600 hover:underline" target=_blank>SpacePix</a></li>
                <li><a href="https://varshney-yash.github.io/musicPlayer/" class="text-blue-600 hover:underline" target=_blank>Music Player</a></li>
                <!-- Add more project links here -->
            </ul>
        </section>
    </div>
</main>
{% endblock content %}
